.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    
  }
  
  .modal-content,
  .modal-form,
  .modal-message {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: relative;   
  }
  
  .modal-message {
    max-width: 350px; 
    min-height: 120px; 
  }
  
  .modal-confirmDelete{
    max-width: 70px
  }
  
  .modal-images {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 900px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .modal-content h2,
  .modal-form h2,
  .modal-images h2,
  .modal-message h2 {
    margin-bottom: 10px;
    
  }
  
  .modal-content p,
  .modal-form p,
  .modal-message p {
    margin-bottom: 3px;
    height: 10px;
  }
  
  .modal-content button,
  .modal-form button,
  .modal-images button,
  .modal-message button {
    background: #3d3b3b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .modal-form input {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 32px;
  }

  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #555;
    z-index: 2001;
  }
  
  .modal-close-button:hover {
    color: #000;
  }
  
  .modal-images img {
    max-width: 50%;
    max-height: 130vh;
    display: block;
    margin: 0 auto;
  }
  
  .modal-confirm-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-confirm-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    max-width: 70px
  }
  
  .cancel-button {
    background-color: grey;
    color: white;
  }
  
  .delete-button {
    background-color: #3d3b3b;
    color: white;
  }


  
  